<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('main', ~{::link})">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/addrlist.css}" rel="stylesheet">
</head>

<body>

<header th:replace="fragments/common :: header('main')"></header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <!--            <div id="map" class="map"></div>-->

    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;">
        <button id="list_bt" class="list_toggler" type="button" data-toggle="collapse" data-target="#menu_wrap"
                aria-controls="menu_wrap" aria-expanded="false" aria-label="Toggle navigation">
            <span>목록</span>
        </button>

    </div>


    <div class="collapse navbar-collapse bg_white" id="menu_wrap">
        <br><br>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=856d8e171cf628cab9ca2d66f373b929&libraries=services"></script>
    <script th:src="@{/js/kakaomap.js}"></script>
</main>


<footer th:replace="fragments/common :: footer"></footer>
</body>

</html>