<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('board', ~{::link})">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/score.css}" rel="stylesheet">
</head>

<body>
<script>
    $(document).ready(function () {
        $("input[type='radio']").click(function () {
            var sim = $("input[type='radio']:checked").val();
            console.log(sim);
//alert(sim);
            if (sim < 2.5) {
                $('.myratings').css('color', 'red');
                $(".myratings").text(sim);
            } else if (sim < 3.6) {
                $('.myratings').css('color', '#ffc107');
                $(".myratings").text(sim);
            } else {
                $('.myratings').css('color', 'green');
                $(".myratings").text(sim);
            }
        });
    });

    //3개만 체크되게 하기
    function count_ck(obj) {
        var chkbox = document.getElementsByName("rating");
        var chkCnt = 0;
        for (var i = 0; i < chkbox.length; i++) {
            if (chkbox[i].checked) {
                chkCnt++;
            }
        }
        if (chkCnt < 1) {
            alert("별점을 체크해주세요!");
            obj.checked = false;
            return false;
        }
    }

</script>
<header th:replace="fragments/common :: header('main')"></header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0" style="height: auto">
    <div class="container">
        <h2>게시판</h2>
        <div class="jumbotron jumbotron-fluid" style="display: flex">
            <div class="container">
                <h1 class="display-4" th:text="${location.place_name}">Fluid jumbotron</h1>
                <p class="lead">음식 카테고리 : <span th:text="${location.category_name}"></span></p>
                <p class="lead">전화번호 : <span th:text="${location.phone}"></span></p>
                <p class="lead">지번 주소 : <span th:text="${location.address_name}"></span></p>
                <p class="lead">도로명 주소 : <span th:text="${location.road_address_name}"></span></p>
            </div>
            <a class="btn btn-outline-danger" style="height: 45px; margin: 50px" th:href="@{/bookmark(id=${location.id})}" th:if="${bookmark == 'false'}">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                    <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                </svg>
            </a>
            <a class="btn btn-danger" style="height: 45px; margin: 50px" th:href="@{/bookmarkdelete(id=${location.id})}" th:if="${bookmark == 'true'}">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4zm4 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                </svg>
            </a>
        </div>
        <div class="card" style="width: 100%">
            <div class="card-body">
                <form th:action="@{/location/view}" method="post" class="text-center">
                    <input type="hidden" name="user" th:value="${user.user_id}">
                    <input type="hidden" name="location" th:value="${location.id}">

                    <div style="display: flex">
                        <div style="margin-left: 50px">
                            <span class="myratings" th:if="${rating != null}" th:text="${rating}" id="scored">0.0</span>
                            <span class="myratings" th:if="${rating == null}">0.0</span>
                            <h4 class="mt-1">Rate us</h4>
                        </div>
                        <div class="form-group" style="margin: auto">
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5"
                                       th:checked="'5'== ${rating}"/><label class="full" for="star5"
                                                                            title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" name="rating" value="4.5"
                                       th:checked="'4.5'== ${rating}"/><label class="half"
                                                                              for="star4half"
                                                                              title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4"
                                       th:checked="'4'== ${rating}"/><label class="full" for="star4"
                                                                            title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" name="rating" value="3.5"
                                       th:checked="'3.5'== ${rating}"/><label class="half"
                                                                              for="star3half"
                                                                              title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3"
                                       th:checked="'3'== ${rating}"/><label class="full" for="star3"
                                                                            title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" name="rating" value="2.5"
                                       th:checked="'2.5'== ${rating}"/><label class="half"
                                                                              for="star2half"
                                                                              title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2"
                                       th:checked="'2'== ${rating}"/><label class="full" for="star2"
                                                                            title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="rating" value="1.5"
                                       th:checked="'1.5'== ${rating}"/><label class="half"
                                                                              for="star1half"
                                                                              title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1"
                                       th:checked="'1'== ${rating}"/><label class="full" for="star1"
                                                                            title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" name="rating" value="0.5"
                                       th:checked="'0.5'== ${rating}"/><label class="half" for="starhalf"
                                                                              title="Sucks big time - 0.5 stars"></label>
                                <input type="radio" class="reset-option" name="rating" value="reset"/></fieldset>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="comment">
                            <label for="content">한줄 평남기기</label>
                            <input type="text" class="form-control" id="content" name="content">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top: 25px"
                                onClick="count_ck(this);">
                            Submit
                        </button>
                    </div>
                </form>
                <div class="form-group">
                    <div class="blog-comment">
                        <h3 class="text-success">Comments</h3>
                        <hr/>
                        <ul class="comments" th:each="comment : ${location.comments}"
                            th:if="${comment.content != null}">
                            <li class="clearfix">
                                <img th:src="@{/img/logo2.png}" class="avatar" alt="">
                                <div class="post-comments">
                                    <div class="meta"><span th:text="${comment.date}"></span><span
                                            th:text="${comment.user.user_id}"></span>
                                        <span>
                                            <span th:if="${comment.rating == '1' or comment.rating == '2' or comment.rating == '3' or
                                                   comment.rating == '4'or comment.rating == '5'or comment.rating == '1.5' or comment.rating == '2.5' or
                                                   comment.rating == '3.5'or comment.rating == '4.5'}">
                                                <svg th:replace="fragments/common :: star"></svg>
                                            </span>
                                            <span th:if="${comment.rating == '2' or comment.rating == '3' or
                                                   comment.rating == '4'or comment.rating == '5'or comment.rating == '2.5' or
                                                   comment.rating == '3.5'or comment.rating == '4.5'}">
                                                <svg th:replace="fragments/common :: star"></svg>
                                            </span>
                                            <span th:if="${comment.rating == '3' or comment.rating == '4'or comment.rating == '5' or
                                                comment.rating == '3.5'or comment.rating == '4.5'}">
                                                <svg th:replace="fragments/common :: star"></svg>
                                            </span>
                                            <span th:if="${comment.rating == '4'or comment.rating == '5' or comment.rating == '4.5'}">
                                                <svg th:replace="fragments/common :: star"></svg>
                                            </span>
                                            <span th:if="${comment.rating == '5'}">
                                                <svg th:replace="fragments/common :: star"></svg>
                                            </span>
                                            <span th:if="${comment.rating == '0.5' or comment.rating == '1.5' or comment.rating == '2.5' or
                                           comment.rating == '3.5'or comment.rating == '4.5'}">
                                                <svg th:replace="fragments/common :: halfstar"></svg>
                                            </span>



                                        </span>
                                    </div>
                                    <p><strong th:text="${comment.content}"></strong></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>


<footer th:replace="fragments/common :: footer"></footer>
</body>

</html>